.basic-grid {
    display: grid;
    gap: .25em;
    grid-template-columns: repeat(auto-fill, 200px);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    font-size: 2em;
    color: white;
    border-radius: 5px;
    overflow: hidden;
}

body {
    background-color: lightgrey;
}

.card:hover {
    background-color: rgb(105, 105, 105);
}