.navColor {
    background-color: #9933CC;
}

.navColorChange {
    color: white !important;
    font-size: large;
    text-decoration: none;
}

.navColorChange:hover {
    background-color: #aa66cc;
}