.specialBox {
    border: #9933CC 2px solid;
    padding: 5em;
    margin: 2em;
    border-radius: 1em;
}

.signupButton {
    background-color: #9933CC;
    color: white;
}

.signupButton:hover {
    background-color: #aa66cc;
}